name: CI

on: [ push, pull_request ]

jobs:
  ci:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt 
        ./bugs.py check 
        ./bugs.py export_database 
        flake8 bugs.py 
        pylint bugs.py